<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.Interfaze.My.MySettings.Cn" connectionString="Data Source=DIEGO\SQLEXPRESS;Initial Catalog=Proyecto_MAD;Persist Security Info=True;User ID=sa;Password=uciopA5D"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>